body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #afd3e2; /* Light blue background */
}

.container {
    width: 100%;
    max-width: 1357px;
    margin: 20px auto;
    background-color :#afd3e2; /* Light blue container */
    border-radius: 8px;
    margin-top: -20px;

}
.top-bar {
    background-color: #003366; 
    color: white;
    padding: 40px;
    text-align: right;
    height: 85px;
    margin-top: -10px;
}

.top-bar span {
    background-color: #003366;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}
input[type='radio']:after {
      
        background-color: #d1d3d1;
     
        display: inline-block;

    }

    input[type='radio']:checked:after {
        
        background-color: #000000;
        content: '';
        display: inline-block;

    }

.header, .mid-section, .table-container, .submit-section {
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-left: -10px;
}

label {
    margin-bottom: 5px;
    text-align: center;
    margin-top: -15px;
}

input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.mid-section {
    display: flex;
    align-items: center;

}

.category-btn, .classification-btn {
    padding: 8px 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    margin-top: 100px;
}

.classification-btn {
    font-size: 1.2em;
    padding: 5px 10px;
}

.list-header {
    background-color: #ffffff; /* Dark blue header */
    color: white;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color:none;
}

th, td {
    border: 1px solid #0a06068c;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #ffffff; /* Lighter blue header */
}

.submit-btn {
    padding: 5px 20px;
    background-color: #0047abc9; /* Dark blue button */
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit-section {
    text-align: right;
}
